* {
 box-sizing: border-box;
}

body {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.inputGroup {
 display: flex;
 width: 100%;
 justify-content: space-between;
 height: 50px;
 align-items: center;
}

.inputGroup label {
 align-self: stretch;
 flex-grow: 1;
 background: red;
 order: 2;
}

.inputGroup span {
 background: green;
 align-self: stretch;
 flex-grow: 4;
 order: 1;
}

.inputGroup input {
 height: 30px;
 width: 70%;
 flex-shrink: 1;
 order: 3;
}

fieldset.group:nth-child(2) {
 display: flex;
 flex-direction: column;
 gap: 10px;
}


form {
 width: 650px;
}

section {
 display: flex;
 margin-top: 50px;
 row-gap: 5px;
 column-gap: 25px;
 border: 1px solid red;
 max-width: 350px;
 flex-wrap: wrap-reverse;
 justify-content: center;
}

section div {
 height: 45px;
 width: 45px;
 background: lightgreen;
 flex-shrink: 0;
}