* {
 box-sizing: border-box;
}

html {
 background: #dedede;
}

body {
 margin: 0;
}

header, footer {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 background: #444444;
}

footer {
 color: white;
 text-transform: lowercase;
}

footer p:first-letter {
 text-transform: uppercase;
}

h1 {
 color: #DD563B;
}

header p {
 color: grey;
}

main {
 width: 100%;
 min-height: 70vh;
 background: url("../img/phare.jpg");
 background-size: cover;
 background-position: center;
 display: flex;
 justify-content: center;
 align-items: center;
}

.main__header,
.main__footer {
 background: #bcbcbc;
 text-transform: uppercase;
 padding: 15px;
}

.main__content {
 background: white;
 display: flex;
 gap: 10px;
}

.main__content article {
 padding: 10px 15px;
}

.container {
 display: flex;
 max-width: 800px;
 padding: 25px;
 gap: 25px;
 background: rgba(255,255,255, 0.7);
}

.container .item img {
 width: 100%;
 height: auto;
}