@font-face {
 font-family: "Courgette";
 src: url("../fonts/Courgette-Regular.ttf") format("truetype");
}

html {
 font-size: 18px;
 box-sizing: border-box;
 color: #444;
 font-family: "Source Sans 3", serif;
 font-weight: normal;
 line-height: 1.5;
}
body {
 max-width: 980px;
 text-align: center;
 margin: 0 auto;
}

nav, h1, h2, h3, blockquote {
 font-family: "Courgette", serif;
}

nav {
 text-align: left;
 font-family: 'Courgette', serif;
 font-size: 1.11rem;
}

a {
 text-decoration: none;
}

blockquote {
 background: #d7e1ef;
}

/* TEXTE SIZES */
h1 {
 font-size: 2.22rem;
 text-transform: uppercase;
}

.defaultSize {
 font-size: 1rem;
}
.xlSize {
 font-size: 1.94rem;
}

.lSize {
 font-size: 1.38rem;
}

.sSize {
 font-size: 0.77rem;
}

/* TEXTE COLOR ALIGN & STYLE */
.textLightBlue {
 color: #4f89b9;
}
.textDarkBlue {
 color: #003884;
}
.textItal {
 font-style: italic;
}
.textLeft {
 text-align: left;
}
.textBold {
 font-weight: 600;
}

/* IMAGE */

.floatRight {
 float: right;
 margin-left: 2rem;
}

.floatLeft {
 float: left;
 margin-right: 2rem;
}

.socials i, .socials i::before {
 width: 30px;
 height: 30px;
 color: #003884;
}

/* DECORATIONS */

main {
 border-bottom: 3px solid #003884;
}