*:not(a) {
 color: #2C4726;
 font-family: Verdana, serif;
 font-size: 14px;
}

html {
 background: url("../img/fond.png");
 line-height: 1.5;
}

body {
 margin: 0;
}

main,
header {
 max-width: 750px;
 margin: 0 auto;
}

main {
 padding: 0 10px;
 background: #fff;
 max-width: 730px;
}

header {
 background: #b8cb21;
}

header div.brand {
 display: inline;
}

header nav {
 margin-top: 55px;
 float: right;
 margin-right: 15px;
}

header nav a {
 margin-left: 15px;
 text-transform: uppercase;
 font-family: "Oswald", serif;
 font-size: 1.428em;
 color: #2C4726;
}

h1 {
 text-transform: uppercase;
 text-align: center;
 font-size: 2.142em;
 font-family: "Oswald", serif;
 margin-top: 0;
 padding-top: 0.67em;
}

.article {
 padding-bottom: 15px;
}

.article__title {
 font-family: "Oswald", serif;
 font-size: 1.5em;
 text-transform: uppercase;
 font-weight: 400;
}

.article__title::before {
 font-family: 'FontAwesome';
 font-weight: 400;
 content: "\f18c";
 color: #b8cb21;
 margin-right: 10px;
}

.article img {
 float: left;
 margin-right: 15px;
}

.article__link {
 background: #b8cb21;
 padding: 15px 20px;
 margin-left: auto;
 display: block;
 width: fit-content;
 text-decoration: none;
 color: #2C4726;
 font-family: Verdana, serif;
}

footer {
 margin: 15px auto 0;
 width: fit-content;
 text-align: center;
}

footer p {
 text-align: center;
}